*{
  font-family: Helvetica;
  /*font-family: 'Montserrat', sans-serif;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 70px;
  background: #333;
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .container{
  display: table;
}
.container{
  width: 98%;
  margin: auto;
}

.container h1{
  float: left;
}

.container img{
  float: right;
  cursor: pointer;
  margin:10px 0px;
}

.menu{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgba(51, 51, 51, 0.8);
}

.menu a{
  height: 50px;
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
  background: rgba(255,255,255,0.5);
}
